@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff2cc;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  position: relative;
  max-width: 480px;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  margin-top: 20px;
  /* background: #ffd966; */
  background: #ffe400;
  border-radius: 100px;
  width: 18rem;
  font-family: "BMJUA";
  font-style: normal;
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #654321;
  justify-content: center;
  padding: 0.5rem 2rem;
  height: 68px;
  transition: transform 0.2s ease-in-out 0s, background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}

.disabledContent {
  cursor: not-allowed;
  pointer-events: none;
}

.btn:hover {
  color: #654321;
  transform: translateY(-4px);
}


.progress-div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 100px;
}

.progress-div .progress-text {
  color: #8b4513;
  margin-bottom: 5px;
  font-size: 13px;
  text-align: end;
}

.prevBtn {
  border: 1px solid #fff2cc;
  width: 22px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  background-color: #fff;
  margin: 0 5px 0 0;
  color: #8B4513;
  cursor: pointer;
}

.progress {
  width: 100%;
  background-color: #fff;
}

.progress-bar {
  /* background-color: #ffd966; */
  background-color: #ffe400;
}

.question_div {
  width: 86%;
  max-width: 480px;
}

.question {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8B4513;
  font-family: "BMHANNAPro";
  font-style: normal;
  font-size: 1.5rem;
  flex-direction: column;
  animation: fade-in 2s;
  -webkit-animation: fade-in 2s;
}

.question i {
  margin-bottom: 15px;
  font-size: 2rem;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.loading {
  margin-top: 150px;
}

.loading p {
  color: #8B4513;
  font-family: "BMHANNAPro";
  font-style: normal;
  font-size: 2.5rem;
}
/* 
@media (max-width: 900px) {
  body {
    background-color: #fff;
  }
  .progress {
    background-color: #fff2cc;
  }
} */